.heading{
    font-size: 23px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px red;

}
.note{
    font-size: 13px;
    color:black;
}
.copy_right_footer{
    position:fixed;
    color:white;
    bottom:0;
    width:100%;
    background-color:blueviolet;
    line-height:3;
    text-align:center;
}
canvas{
    border:2px solid rgb(3, 154, 255);
    border-radius:20px;
    box-shadow:5px 5px 5px goldenrod;
}